@font-face {
  font-family: "Eurostile";
  src: url("font/EurostileBold.ttf") format("truetype");
}

* {
  font-family: Eurostile, Helvetica, sans-serif;
  font-size: 2.5vh;
  color: black;
}

.say-hello {
  background: linear-gradient(to top, #04aa6dd3, #04aa6d);
  border: 1px solid rgb(255, 248, 220);
  border-radius: 30px;
  padding: 13px 30px;
  text-decoration: none;
}

.say-hello:hover {
  background: linear-gradient(to bottom, #04aa6dd3, #04aa6d);
  cursor: pointer;
}

.body-section {
  height: 30vh;
}

.card-container {
  width: 75vw;
  margin: 10px auto;
}

.card-item-container {
  border: 1px solid red;
  border-radius: 30px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-item {
  padding: 10px;
  text-align: center;
  border-right: 1px solid red;
}
.card-item:last-child {
  border-right: none;
}

.recent-project {
  width: 80vw;
  margin: 0 auto;
  flex-direction: column;
}

.recent-project-title {
  font-size: 4.5vh;
  text-transform: capitalize;
  text-align: center;
  background: cornsilk;
  padding: 30px 0;
}

.rp-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rp-card-item {
  border: 1px solid red;
  margin: 15px;
  border-radius: 30px;
  padding: 15px;
  text-align: center;
  background: cornsilk;
}
